<h1><center>Data Science Tools and Ecosystem</center></h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>

- Language Used by Data Science

- libraries Used by Data Science

- Data Science Tools

- Some Arithematic Operations

- Calculation used in Python

Some of the popular languages that Data Scientists use are:

1. Python

2. R

3. SQL

4. Julia

Some of the commonly used libraries used by Data Scientists include:

1.Numpy

2.Pandas

3.Matplotlib

4.Scikit-learn

5.Seaborn

In [3]:
import pandas as pd
df = pd.DataFrame({"Data Science Tools": ["Python", "R", "SQL"]})
print(df.to_markdown(index=False))

| Data Science Tools   |
|:---------------------|
| Python               |
| R                    |
| SQL                  |

|Data Science Tools|
|:-|
|Python|
|R|
|SQL|

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>
+ => Addition
- => Subtraction
* => Multiplication
/ => Division
** => To raise a number to the power
% => Modulus
// => Interger Division

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

1.$$+ => Addition $$

2. $$- => Subtraction$$

3. $$* => Multiplication$$

4. $$/ => division$$

5.$$ ** => $$ to raise an number to the power

7.$$ // => Integer Division $$

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200 * 60

12000

<h2>Author</h2>

Ahmed Hany Elsaied Elsaied